//

.left-side {
  padding-top: 5rem;
  padding-bottom: 2rem;
  //   display: grid;

  //   place-items: center center;
}

.txt-file {
  display: flex;
  gap: 1rem;
}

.items-pic {
  transform: translate(-10%, 10%);
}

.main-items {
  display: flex;
  align-items: center;
}
