//

.left-side {
  padding-top: 4rem;
  padding-bottom: 4rem;
  //   display: grid;

  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;

  //   place-items: center center;
}

.txt-file {
  display: flex;
  gap: 1rem;
}

.items-pic {
  transform: translateX(-10%);
}

.main-items {
  display: flex;
  align-items: center;
}
