a {
  text-decoration: none;
}

.navbar {
  height: 4.2rem;
}
.navbar-form {
  margin-inline-start: auto;
  width: 70%;
  transition: all 0.4s;
}
.navbar-form__search {
  background-color: #434343;
  padding: 0.5rem 1.5rem;
  border: none;
}
.navbar-form__search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.navbar-form__search:focus {
  background-color: #434343;
  box-shadow: none;
}
.navbar-form__search::placeholder {
  color: #ababab;
}
.navbar-back {
  background-color: #343434;
  width: 2.8rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: none;
  transition: all 0.3s;
}
.navbar-back__icon {
  font-size: 1.6rem;
}
.navbar-back:hover {
  background-color: #434343;
}

.nav-link {
  display: inline-block;
  padding: 0.8rem 3rem;
}
.nav-link:hover {
  background-color: #434343;
}
.nav-icon {
  font-size: 1.3rem;
}
.nav-noti {
  font-size: 1.3rem;
  background-color: #343434;
  width: 2.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.nav-noti:hover {
  background-color: #434343;
}
.nav-noti__img {
  transition: all 0.3s;
  cursor: pointer;
}
.nav-noti__img:hover {
  transform: scale(1.2);
}

.popup {
  width: 21rem;
  min-height: 4.2rem;
  max-height: 100vh;
  overflow: hidden;
  padding: 0 0.75rem;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s;
}
.popup-search__form {
  height: 4.2rem;
}
.popup-data {
  list-style: none;
  max-height: 83vh;
  width: 100%;
  padding: 1rem 0 1rem 0;
  overflow: auto;
  scrollbar-width: none;
}
.popup-data::-webkit-scrollbar {
  display: none;
}
.popup-data__list {
  height: 3rem;
  padding: 0 0.8rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.popup-data__list:hover {
  background-color: #343434;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}

.pos-fit {
  position: relative;
  z-index: 999;
  justify-content: flex-start !important;
  align-items: center;
}
.pos-fit .navbar-brand {
  display: none;
}
.pos-fit .navbar-back {
  display: flex;
}
.pos-fit .navbar-form {
  width: 78%;
}
.pos-fit .navbar-form__search {
  padding: 0.6rem 1.5rem;
}

.fa-sort-alpha-up {
  color: #777;
}

.sorting {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: not-allowed;
}
