:root {
  --gray-1-color: #eee;
  --border-1-color: #cdcdcd;
  --border-2-color: #efefef;
  --bg-color: #f9f9f9;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  line-height: 1.7;
  font-weight: 400;
  font-size: 75%;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #777;
}

.tabs-wrapper {
  width: 72rem;
  margin-inline: auto;
}
.tabs-content {
  border: 0.2rem solid #cdcdcd;
  border-top-color: transparent;
  padding: 3rem;
  min-height: 20rem;
  margin-top: -0.3rem;
}

.navbars-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbars-items {
  padding: 3rem 0;
  flex: 1 0 10rem;
  cursor: pointer;
  transition: background-color 0.3s;
  --height: defaultValue;
  --top: defaultValue;
  --b-color: defaultValue;
  --bg-color: defaultValue;
  position: relative;
}
.navbars-items::before {
  content: "";
  display: block;
  width: 100%;
  height: var(--height);
  background-color: var(--bg-color);
  border-top: 0.4rem solid var(--b-color);
  border-left: 0.2rem solid var(--b-color);
  border-right: 0.2rem solid var(--b-color);
  position: absolute;
  left: 0;
  top: var(--top);
  z-index: 1;
  transition: all 0.3s;
}
.navbars-items:hover:before {
  background-color: var(--bg-color) !important;
}
.navbars-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 300;
}
.navbars-link__icon {
  font-size: 2rem;
}
