//

.logo {
  align-self: end;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  width: 60%;
  margin-top: 5rem;
  &-title {
    font-size: 5rem;
  }

  &-txt {
    width: 40%;
    font-size: 1.3rem;
    line-height: 1.1;
  }
}

.icon-google {
  height: 1.6rem;
}
