//

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 60%;
  margin-top: 5rem;
  &-title {
    font-size: 5rem;
  }

  &-txt {
    width: 50%;
    font-size: 1.3rem;
    line-height: 1.1;
  }
}
